<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465193736932-u1nq8ic5m9820lu6405m383dh62mobgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465193736932-u1nq8ic5m9820lu6405m383dh62mobgl</string>
	<key>API_KEY</key>
	<string>AIzaSyCNMhBdjDMhElSgIhZeWy1juWIAg-WucQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>465193736932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.brninfodev.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>lojavirtual-brn-infodev</string>
	<key>STORAGE_BUCKET</key>
	<string>lojavirtual-brn-infodev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465193736932:ios:8d23ef4d0d6f808db7eaf1</string>
</dict>
</plist>